@import '~antd/dist/antd.css';

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #ffff99;
  background-image: url(https://www.bpicc.com/images/2019/02/07/beer-background-1-3.jpg);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  -webkit-animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #d0d3da;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
